.container {
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    margin: 0;
    color: #333;
}

.footer {
    display: flex;
    justify-content: flex-end;
}